/*  main.css */

/* ********** DEFAULT CSS ********** */
* {
  border-radius: 5px;

}

html {
  background-color: rgb(17, 41, 65);
  font-family: "Times New Roman", Times, serif;
  color: rgb(3, 11, 19);
 
}

body {
  margin: 5px;
  background-color: rgb(158, 205, 255);
  border: 5px double rgb(100, 30, 21);
}

h1,
h2,
h3 {
  text-align: center;
}


p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
}

/* ********** Banner ********** */

.logo {
  color: rgb(2, 22, 7);
  font-size: 3em;
  width: 80%;
  margin: 10px auto;
  padding: 5px;
  position: relative;
  z-index: 0;
  border: 7px solid rgb(100, 68, 21);
  background: rgb(138, 180, 224);
  background-clip: padding-box;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

#Guide {
  font-family: Arial, Helvetica, sans-serif;
}


/* ********** Columns ********** */

.columnContainer {
  display: flex;
  justify-content: center;
}

/* Create equal columns that floats next to each other */
.column {
  width: 48%;
  padding: 10px;
  border: 2px solid rgb(17, 41, 65);
  margin: 10px;
  background-color: rgb(255, 234, 231);
}


/* ********** Menu (left column) ********** */

/* menu headers */
.category_header {
  font-size: 1.75em;
  font-weight: bold;
  border: 2px solid rgb(2, 22, 7);
  background-color: rgb(255, 255, 255);
}

.category_header:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0,0,0);

}


/* menu detail */
#MenuDetail li {
  font-size: 1.25em;
}
/* menu detail */
#MenuDetail p {
  text-align: justify;
  font-size: 1em;
}

input[type=number] {
  float: right;
  width: 50px;
  
}

input[type=number] {
  clear: left;
}


/* Update Cart Button */
.update_container {
  text-align: center;
}

#UpdateCart {
  width: 90%;
  font-size: 2em;
  font-weight: bold;
  background-color: rgb(184, 217, 253);
  border: 3px solid rgb(42, 127, 64);
  
}

#UpdateCart:hover {
  background-color: rgb(87, 255, 132);;
  border: 3px dotted rgb(138, 180, 224);
}



/* ********** Cart (right column) ********** */

#CartDetail {
  font-size: 1.25em;
  font-weight: bold;
  margin: 5px;
  padding: 5px;
  border: 2px solid rgb(0, 0, 0);
  min-height: 55%;
  text-align: center;
}
#Cart li{
  font-family: Arial, Helvetica, sans-serif;
}

#Totals{
  min-height: 35%;
  margin: 10px 5px;
  border: 3px dotted rgb(42, 127, 64);
  
}

#Totals p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: rgb(17, 41, 65);
}



